* {
  box-sizing: border-box;
}

body {
  background-color: #22553F;
  margin-top: 0;
  margin-right: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
}

h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.8em;
  color: #ffe36a;
}

h4 {
  letter-spacing: 0.07em;
  font-size: 1.5em;
  color: #22553F;
}

p {
  font-family: "Spectral", serif;
}
@media (min-width: 769px) {
  p {
    hyphens: auto;
    hyphenate-limit-lines: 2;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-zone: 8%;
    hyphenate-limit-last: always;
  }
}

a {
  text-decoration: none;
  margin-top: 0;
}
a:link, a:visited {
  color: #F1F7ED;
}

nav {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  background-color: #22553F;
  border-bottom: 10px solid rgba(255, 255, 255, 0.3);
  z-index: 100;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
@media (min-width: 769px) {
  nav {
    position: fixed;
    width: 100%;
    background-color: #22553F;
    border-bottom: 10px solid rgba(255, 255, 255, 0.3);
    z-index: 100;
  }
}
nav ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 769px) {
  nav ul {
    float: right;
    vertical-align: middle;
    padding-right: 15px;
  }
}
nav ul li {
  text-align: center;
}
@media (min-width: 769px) {
  nav ul li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}
nav ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  letter-spacing: 0.22rem;
  font-size: 1.3rem;
}
nav ul li a:hover {
  background-color: #F1F7ED;
  color: #22553F;
}
nav ul li a:hover:active {
  background-color: #ffe36a;
  color: #F1F7ED;
}
@media (min-width: 769px) {
  nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
  }
  nav ul li a:hover {
    background-color: rgba(34, 85, 63, 0);
    color: #ffe36a;
  }
  nav ul li a:hover:active {
    background-color: rgba(34, 85, 63, 0);
  }
}

hr {
  padding-top: 25px;
  padding-bottom: 25px;
  border: none;
}

header {
  background-color: #22553F;
  margin-top: 0;
}

form {
  margin-bottom: 100px;
}

input[type=text],
input[type=Email] {
  height: 50px;
  font-size: 1.3em;
  border-radius: 5px;
  border: none;
  text-indent: 15px;
  margin-top: 10px;
  background-color: lightyellow;
}
@media (min-width: 769px) {
  input[type=text],
input[type=Email] {
    width: 70%;
  }
}
input[type=text]:focus,
input[type=Email]:focus {
  background-color: #ffffff;
  outline: 0;
  border: 3px solid rgba(34, 85, 63, 0.8);
}

button[type=button] {
  width: 25%;
  height: 50px;
  margin-top: 60px;
  border-radius: 10px;
  background-color: #22553F;
  border: none;
  color: #ffe36a;
  font-size: 1.3em;
  letter-spacing: 0.02em;
  text-transform: none;
  transition: opacity 0.3s ease-out, transform 0.2s;
  min-width: 100px;
}
button[type=button]:focus {
  outline: 0;
}
button[type=button]:hover {
  cursor: pointer;
  opacity: 0.87;
}
button[type=button]:active {
  background-color: #ffe36a;
  color: #22553F;
  border: 3px solid #22553F;
  transform: scale(0.95);
}

footer {
  background-color: #658879;
  color: #F1F7ED;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}
@media (min-width: 769px) {
  footer {
    display: flex;
  }
}
footer p {
  flex: 1;
}
@media (min-width: 769px) {
  footer p {
    padding-left: 50px;
    text-align: left;
    align-self: center;
  }
}

/* =========================================
CLASS STYLES
========================================== */
.page-heading {
  font-size: 3.5em;
  margin: auto;
  border-bottom: 4px solid #22553F;
  width: 70%;
  padding-bottom: 25px;
  max-width: 800px;
}

.nav-heading {
  display: none;
  padding-left: 30px;
}
@media (min-width: 769px) {
  .nav-heading {
    display: inline-block;
    float: left;
    vertical-align: middle;
    font-size: 3em;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 0px;
  }
}

.banner-heading {
  background-color: #ffe36a;
  color: #22553F;
  padding-bottom: 50px;
  padding-top: 300px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 769px) {
  .banner-heading {
    padding-top: 165px;
  }
}

.banner-title {
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 4em;
  width: 90%;
  margin: 0 auto;
}

.banner-subtitle {
  font-weight: 300;
  letter-spacing: 0.12em;
  font-size: 1.515em;
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  min-height: calc(100vh - 18px);
}

.top-link {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  background-color: #ffe36a;
  margin-bottom: 75px;
  margin-top: 75px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
@media (min-width: 769px) {
  .top-link {
    font-size: 1.5em;
    background-color: #ffe36a;
    width: 345px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
  }
  .top-link a {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
  }
}
@media (min-width: 1024px) {
  .top-link {
    width: 500px;
  }
}
.top-link a {
  color: #22553F;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.2s ease-in;
}
.top-link a:hover {
  background-color: #F1F7ED;
}
.top-link a:active {
  background-color: #ffe36a;
  color: #F1F7ED;
}

/* -------------------------------------------------
HOMEPAGE
---------------------------------------------------- */
.dice-container {
  background: #22553F;
  padding-top: 25px;
  padding-bottom: 25px;
}
.dice-container .dice-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  max-width: 950px;
  min-width: 320px;
}
.dice-container .dice-wrap .die {
  flex-grow: 1;
  flex-basis: 0px;
  max-width: 100px;
  width: 50px;
  padding: 5px 15px;
}

.d-spin {
  transition: transform 1s ease-in-out;
  transform: rotate(0turn);
}

.d-spin:hover {
  transform: rotate(1turn);
}

.intro-wrapper {
  background-color: #ffe36a;
  padding-top: 50px;
  padding-bottom: 50px;
}

.intro {
  width: 90%;
  max-width: 685px;
  text-align: left;
  margin: 0 auto;
  color: #22553F;
  font-size: 1.3em;
  line-height: 1.2;
}
@media (min-width: 769px) {
  .intro {
    font-size: 1.5em;
    width: 70%;
    max-width: 700px;
  }
}
.intro p::first-letter {
  float: left;
  font-size: 80px;
  color: #ffe36a;
  padding: 5px 10px;
  background: #22553F;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  line-height: 1;
}

.no-hyphen {
  hyphens: manual;
}

.service-container {
  background-color: #22553F;
  color: #ffe36a;
  padding-top: 50px;
  padding-bottom: 50px;
}

.service-flex-contain {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  max-width: 735px;
}
@media (min-width: 769px) {
  .service-flex-contain {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .service-flex-contain {
    flex-direction: row;
    padding-top: 50px;
    max-width: 2500px;
  }
}

.in-person {
  display: flex;
  align-items: center;
  padding: 0 0 30px 0px;
}
.in-person img {
  width: 40%;
  padding-right: 15px;
}
@media (min-width: 769px) {
  .in-person img {
    margin-top: 25px;
    margin-bottom: 22.5px;
    transform: translateX(9px);
  }
}
@media (min-width: 1024px) {
  .in-person img {
    margin-top: 0;
    margin-bottom: 0;
    transform: translateX(8px);
  }
}
.in-person p {
  font-size: 1.2em;
  text-align: center;
  width: 60%;
  border: 3px solid #ffe36a;
  border-radius: 10px;
  padding: 20px;
  letter-spacing: 0.03em;
}

.online {
  display: flex;
  align-items: center;
  padding: 0px 0 28px;
}
.online img {
  width: 40%;
  padding-left: 15px;
  order: 2;
}
@media (min-width: 769px) {
  .online img {
    padding: 0;
    transform: translateX(2.5px);
  }
}
@media (min-width: 1024px) {
  .online img {
    transform: translateX(0px);
  }
}
.online p {
  font-size: 1.2em;
  text-align: center;
  width: 60%;
  order: -1;
  border: 3px solid #ffe36a;
  border-radius: 10px;
  padding: 20px;
}

.any-xp-lvl {
  display: flex;
  align-items: center;
  padding: 0px 0 28px;
}
.any-xp-lvl img {
  width: 40%;
  padding-right: 15px;
}
@media (min-width: 769px) {
  .any-xp-lvl img {
    padding: 0;
    transform: translateX(3.5px);
  }
}
@media (min-width: 1024px) {
  .any-xp-lvl img {
    transform: translateX(0px);
  }
}
.any-xp-lvl p {
  font-size: 1.2em;
  text-align: center;
  width: 60%;
  border: 3px solid #ffe36a;
  border-radius: 10px;
  padding: 20px;
}

@media (min-width: 769px) {
  .in-person,
.online,
.any-xp-lvl {
    flex-direction: column;
  }
  .in-person p,
.online p,
.any-xp-lvl p {
    order: 2;
    font-size: 1.3em;
    margin-top: 0;
    background-color: #28644a;
    color: #ffe160;
  }
  .in-person img,
.online img,
.any-xp-lvl img {
    order: -1;
    max-width: 175px;
    max-height: 175px;
  }
}
@media (min-width: 1024px) {
  .in-person,
.online,
.any-xp-lvl {
    flex: 1 33.33%;
  }
  .in-person p,
.online p,
.any-xp-lvl p {
    width: 90%;
  }
  .in-person img,
.online img,
.any-xp-lvl img {
    width: 175px;
    height: 175px;
  }
}
.in-person p,
.online p,
.any-xp-lvl p {
  background-color: #28644a;
  color: #ffe160;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.heading-in-person-lrg,
.heading-online-lrg,
.heading-xp-lvl-lrg {
  display: none;
}
@media (min-width: 1024px) {
  .heading-in-person-lrg,
.heading-online-lrg,
.heading-xp-lvl-lrg {
    display: inline;
    order: -2;
  }
}

.border-line {
  border-bottom: 1px solid #ffe36a;
}
@media (min-width: 1024px) {
  .border-line {
    border-bottom: none;
    border-right: 1px solid #ffe36a;
  }
  .border-line .borderline:last-child {
    border: none;
  }
}

#footer-social {
  margin-top: 0;
  align-self: center;
  width: 20%;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 769px) {
  #footer-social {
    padding-right: 40px;
    order: 5;
  }
}
#footer-social a {
  width: 30px;
  height: 30px;
}

.tokens {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(5px);
}
.tokens img {
  width: 75px;
}
@media (min-width: 769px) {
  .tokens img {
    width: 100px;
  }
}

/* -------------------------------------------------
ABOUT ME PAGE
---------------------------------------------------- */
.about-wrap {
  background-color: #ffe36a;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 100px;
}

.about-container {
  padding-top: 15px;
  padding-bottom: 50px;
}
@media (min-width: 769px) {
  .about-container {
    padding-bottom: 200px;
  }
}

.neil-img-container {
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  width: 75%;
  padding-bottom: 25px;
}
@media (min-width: 769px) {
  .neil-img-container {
    float: left;
    margin-left: 50px;
    padding-right: 25px;
    padding-bottom: 10px;
  }
}

.neil-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.neil-img {
  width: 100%;
  border-radius: 10px;
  display: block;
  border: 10px solid rgba(34, 85, 63, 0.85);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.about-para {
  color: #22553F;
  width: 90%;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 50px;
  font-size: 1.3em;
  text-align: center;
  max-width: 800px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .about-para {
    padding-top: 0px;
  }
}

.stat-card-flex-contain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 769px) {
  .stat-card-flex-contain {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 850px;
    height: 190px;
  }
}

.stat-card {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  background-color: #22553F;
  color: #ffe36a;
  width: 70%;
  border-radius: 10px;
  max-width: 350px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 35px auto;
}
@media (min-width: 769px) {
  .stat-card {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    background-color: #22553F;
    color: #ffe36a;
    width: 20%;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 300px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .stat-card ul {
    list-style-type: none;
    padding: 0;
  }
  .stat-card ul li {
    padding: 10px;
    font-size: 1.4em;
  }
  .stat-card p {
    font-size: 1.7em;
  }
}
.stat-card ul {
  list-style-type: none;
  padding: 0;
}
.stat-card ul li {
  padding: 10px;
  font-size: 1.4em;
}
.stat-card p {
  font-size: 1.7em;
}

/* -------------------------------------------------
CONTACT PAGE
---------------------------------------------------- */
.contact-container {
  background-color: #ffe36a;
  margin-top: 0;
  text-align: center;
  padding-bottom: 25px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
.contact-container .contact-info {
  background-color: #22553F;
  width: 100%;
  margin-bottom: 100px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
@media (min-width: 769px) {
  .contact-container .contact-info {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 10px;
  }
}
.contact-container .contact-info .contact-info-list {
  background-color: rgba(241, 247, 237, 0.05);
  color: #ffe36a;
  list-style-type: none;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  border: 3px solid #ffe36a;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 40%;
  min-width: 300px;
  max-width: 550px;
  transform: translateY(50px);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
.contact-container .contact-info .contact-info-list li {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.2em;
  font-size: 1.3em;
}
.contact-container .contact-info .contact-info-list li a {
  color: #ffe36a;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.contact-container .contact-info .contact-info-list li a:hover {
  color: #F1F7ED;
}

#g-map {
  width: 90%;
  max-width: 900px;
  height: 300px;
  margin: 75px auto 50px;
  border-radius: 10px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.social-icons a {
  width: 50px;
  height: 50px;
  transition: opacity 0.3s ease-out;
}
.social-icons a:hover {
  opacity: 0.6;
  color: #F1F7ED;
}

.form-flex-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 769px) {
  .form-flex-container {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .form-flex-container {
    max-width: 620px;
  }
}
.form-flex-container .form-element {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 25px;
}
@media (min-width: 769px) {
  .form-flex-container .form-element {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.form-flex-container .form-element label {
  text-align: left;
  color: #22553F;
  font-size: 1.3em;
  font-weight: 700;
}
@media (min-width: 769px) {
  .form-flex-container .form-element label {
    padding-right: 20px;
    max-width: 120px;
  }
}
@media (min-width: 1024px) {
  .form-flex-container .form-element label {
    padding-right: 20px;
    max-width: 160px;
  }
}

/* -------------------------------------------------
BLOG PAGE
---------------------------------------------------- */
.date {
  margin-top: 0;
  padding-top: 50px;
  color: #ffe36a;
}

.post-heading {
  color: #F1F7ED;
  font-size: 4em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.post-pic {
  width: 90%;
  max-width: 640px;
  border: 5px solid rgba(241, 247, 237, 0.5);
  border-radius: 5px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.post-body {
  color: #F1F7ED;
  width: 90%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.2;
  padding-top: 25px;
  text-align: left;
  text-indent: 50px;
}

/* MEDIA QUERIES */
@media (min-width: 769px) {
  .pic-para-float {
    width: 75%;
    margin: 0 auto;
    max-width: 900px;
  }

  #years-dmd,
#systems-dmd {
    height: 120px;
    overflow: hidden;
    margin-bottom: 50px;
    min-width: 250px;
    opacity: 0.7;
    transition: opacity 0.3s 0.05s ease-in, height 0.8s 0.1s ease-in-out;
  }
  #years-dmd h3,
#systems-dmd h3 {
    margin-bottom: 0;
  }

  #years-dmd:hover {
    height: 190px;
    left: 50px;
    opacity: 1;
  }

  #systems-dmd:hover {
    right: 50px;
    height: 445px;
    opacity: 1;
  }

  /* CLEARFIX */
  .clearfix::after {
    content: "";
    /* creates blank pseudo-element at the bottom of the parent container */
    display: table;
    /* display blank element ^^^ as a block level table */
    clear: both;
    /* clear property is directly related to floats. This clears any collapsed space caused by floats on 'both' sides of the container. */
  }
}
@media (min-width: 1024px) {
  .heading-in-person,
.heading-online,
.heading-xp-lvl {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
